In [78]:
import numpy as np
import pandas as pd
import yfinance as yf

In [79]:
S_K600 = yf.download(tickers = "MSFT",start="2010-01-01",end="2023-05-01")
S_K600

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.572367,38409100
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.579981,49749600
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.435276,58182400
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.191551,50559700
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.351501,51197400
...,...,...,...,...,...,...
2023-04-24,282.089996,284.950012,278.720001,281.769989,281.155365,26611000
2023-04-25,279.510010,281.600006,275.369995,275.420013,274.819244,45772200
2023-04-26,296.700012,299.570007,292.730011,295.369995,294.725708,64599200
2023-04-27,295.970001,305.200012,295.250000,304.829987,304.165070,46462600
2023-04-28,304.010010,308.929993,303.309998,307.260010,306.589783,36446700

In [80]:
S_K600['daily_returns']=((S_K600['Close']-S_K600['Open'])/S_K600['Open'])*100
daily_returns=S_K600['daily_returns']
daily_returns
volatility=daily_returns.std()*(252**0.5)
volatility

20.077485127292093

In [81]:
cumulative_returns = (1+S_K600['daily_returns']/S_K600['Open']).cumprod()
cumulative_returns

Date
2010-01-04    1.035197
2010-01-05    1.047161
2010-01-06    1.035082
2010-01-07    1.015223
2010-01-08    1.057299
                ...
2023-04-24    5.219864
2023-04-25    5.192537
2023-04-26    5.184692
2023-04-27    5.237132
2023-04-28    5.255548
Length: 3353, dtype: float64

In [82]:
cumulative_max = S_K600['Close'].cummax()
drawdowns = (S_K600['Close']-cumulative_max)/cumulative_max
max_drawdown = drawdowns.min()
max_drawdown

-0.37556466105038605

In [83]:
annualized_mean_return = daily_returns.mean()*252
annulized_std_devia = daily_returns.std()*(252**0.5)
risk_free_rate=0
sharpe_ratio=(annualized_mean_return-risk_free_rate)/annulized_std_devia
sharpe_ratio

0.5454070681231462

Above sharpe ratio is calculated by assuming that risk free rate =0, mean of daily return is equal to 0.457 , so let assume target value of daily return as 0.8

In [84]:
target_return = 0.8
difference = daily_returns-target_return
negative_difference = np.minimum(difference,0)
squared_negative_differences=negative_difference**2
ave_squared_negative_difference = np.mean(squared_negative_differences)
downside_deviation=np.sqrt(ave_squared_negative_difference)
sortino_ratio = (annualized_mean_return-target_return)/downside_deviation
sortino_ratio

7.461290037989038